* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

a,
a:visited,
a:active {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    text-decoration: none !important;
    color: initial !important;
}

a.card {
    text-decoration: none;
}

a.card:hover, a.card:focus {
    color: white;
    background-color: black;
}

a.btn:hover {
    box-shadow: 0 0 12px rgb(206, 212, 218);
}

#map {
    height: 500px;
}

#map #shadow {
    position: absolute;
    -moz-box-shadow: inset 0 -12px 12px -12px rgb(206, 212, 218);
    -webkit-box-shadow: inset 0 -12px 12px -12px rgb(206, 212, 218);
    box-shadow: inset 0 -12px 12px -12px rgb(206, 212, 218);
    width:100%;
    height:100%;
    display:block;
    pointer-events:none;
    z-index: 1;
}

#owm {
    border: 1px solid lightgray;
    border-radius: .375rem;
}

#weatherIcon {
    font-size: 2.8rem;
}

/* NAVBAR */
.fa-bars {
    color: black;
    font-size: 28px;
}

.navbar .navbar-toggler {
    height: 40px;
}

.navbar .navbar-toggler:hover {
    border-color: rgb(206, 212, 218);
    outline: none;
    box-shadow: 0 0 12px rgb(206, 212, 218);

}

.navbar .navbar-toggler:focus {
    border-color: rgb(206, 212, 218);
    outline: none;
    box-shadow: 0 0 12px rgb(206, 212, 218);
}


/* MAP */
.leaflet-pane {
    padding: 66px 0 0 0;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-popup-content-wrapper {
    margin: 0 0 66px 0;
}

.leaflet-pane,
.leaflet-container {
    z-index: 0 !important; 
}

.leaflet-control,
.leaflet-control-attribution {
    z-index: -1 !important;
}

.map-label {
    position: absolute;
    bottom: 0;
    left: -50%;
    display: flex;
    flex-direction: column;
    text-align: center;
 }

.map-label-content {
    order: 1;
    position: relative;
    left: -50%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    padding: 3px;
    white-space: nowrap;
    box-shadow: 0 0 8px rgb(0,0,0, 0.5);
}

.map-label-arrow {
    order: 2;
    width: 0px;
    height: 0px;
    left: 50%;
    border-style: solid;
    border-color: black transparent transparent transparent;
    border-width: 10px 6px 0px 6px;
    margin-left: -6px;
}

/* FORMULAIRE */
#form {
    z-index: 10;
    left: 50%;
    transform: translate(-50%);
}

.form-group .form-control {
    padding-left: 48px;
}

.form-group .form-control-feedback {
    display: block;
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
    margin: 4px 0 0 4px;
    pointer-events: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: rgb(206, 212, 218);
    box-shadow: 0 0 12px rgb(206, 212, 218);
}

.list-group-item.active:hover {
    background-color: black !important;
    border-color: black !important;
}

.list-group-item.active,
.list-group-item.active:hover {
    background-color: black !important;
    border-color: black !important;
}

/* COLLAPSE */

.card-header a {
    text-decoration: none;
}

.rotate {
    transition: 0.3s transform ease-in-out;
}

.collapsed .rotate {
    transform: rotate(-90deg);
}